# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# MLflow
mlruns/

# DVC cache
.dvc/cache/

# Generated data
data/interim/
data/processed/

# Generated models/artifacts
models/trained/
models/artifacts/

# Test/cache files
.pytest_cache/
.coverage